.mario-less-wrapper {
  padding: 1rem;
}

.mario-form {
  row-gap: 1rem;
  margin-top: 2rem;
}

.input-row-mario {
  display: flex;
  flex-direction: column;
}

.input-row-mario input {
  margin-right: 1.7rem;
}

.pyramid-screen {
  margin-top: 2rem;
}
